/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:620px;
	height:200px;
	padding:0 10px;
	z-index: 1;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}

.ca-item{
	position:relative;
	float:left;
	width:160px;
	height:200px;
	padding: 0 5px;
}

.ca-item p{
	text-align: center;
	font-size: 0.8em;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ca-item:hover p{
	opacity: 1;
}

.ca-item img{
	box-shadow: 0 -1px 3px rgba(0,0,0,0.5);
	position:absolute;
	bottom:2px;
}



img.album-cover{
	height: 140px;
}

img.smallbook-cover{
	width: 76px;
	left: 50%;
	margin-left: -38px;
}

img.mediumbook-cover{
	width: 85px;
	left: 50%;
	margin-left: -42px;
}

img.bigbook-cover{
	width: 125px;
	left: 50%;
	margin-left: -62px;
}


.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../../img/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}