
 h5, p{
	margin: 0;
	vertical-align: baseline;
	}


#container{
	width:800px;
	margin:0 auto;
	}


	
.title {
	border-bottom: 1px dotted #7BC9B5;
	padding: 10px 0;
    margin-bottom: 15px;
	}
	
	
p {
	margin-bottom:30px;
	}

hr{
	height: 1px;
	width: 100%;
	background: #8ee7d1;
	border: 0;
	margin: 10px 0 30px;
	}
	


/* ------------------- */
/* Toggle Box */
/* ------------------- */

.toggle-link{
	display:block;
	height:15px;
	width:15px;
	margin-top: 3px;
	display:inline;
	}

.toggle-close{
	background-position: bottom center;
	}

.toggle-open{
	background-position: top center;
	}

