

.clearfix {
  *zoom: 1; /* IE 6/7 support */
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


.padding-vertical{
  padding: 6rem 0;
}


.padding-vertical-extra{
  padding: 8rem 0;
}

.padding-top{
  padding-top: 6rem;
}

.padding-bottom{
  padding-bottom: 6rem;
}




.containing-block{
  position: relative;
}

.nowrap{
  white-space: nowrap;
}

.center{
  text-align: center;
}
