

.clearfix {
  *zoom: 1; /* IE 6/7 support */
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}



.containing-block{
  position: relative;
}

.nowrap{
  white-space: nowrap;
}

.center{
  text-align: center;
}

.disabled-link{
  text-decoration: none;
  pointer-events: none;
}

.text-shadow{
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
