@v-unit: 32px;
@grid-width: 960px;


@sans-serif-font: 'Roboto', sans-serif;
@serif-font: 'Rufina', serif;
@logo-font: 'Sanchez', sans-serif;

//COLORS
@aqua: #6bbfcb;
@gray-light: #f5f5f5;
@gray-medium: #757575;
@gray-dark: #272727;
@blue: #4C4CF1;
@black: #222F3B;
@green: #4BC4A9;


@weight-bold: 700;
@weight-normal: 400;

@radius: 32px;

@mobile-bp: 600px;
@tablet-bp: 800px;
