@grid-unit: 8px;
@max-width: 1280px;
@mobile-bp: 600px;
@tablet-bp: 960px;


@sans-serif-font: 'Roboto', sans-serif;
@serif-font: 'Rufina', serif;
@logo-font: 'Sanchez', 'Roboto', sans-serif;
@display-font: 'Alfa Slab One', 'Roboto', sans-serif;


//COLORS
@aqua: #6bbfcb;
@gray-light: #EDEFF4;
@gray-medium: #EFF5FC;
@gray-dark: #a1afbd;
@blue: #4C4CF1;
@black: #3A4E61;
@green: #4BC4A9;
@purple: #3F80F9;
@primary: @purple;

@weight-bold: 700;
@weight-normal: 400;

@radius: 32px;
