
.body-wrapper{
	width: 100%;
	max-width: @max-width;
	display: block;
	margin: 0 auto;
	.containing-block;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.header{
	height:60vmin;
	min-height: 420px;
	position: relative; /* neccesary to apply z-index -1 */
	z-index: 0;
}


@media screen and (max-width: @mobile-bp){
	.header{
		height:auto;
		padding-bottom:60px;
		background: rgba(0,0,0,.5);
	}
}


.header-bg{
	position: fixed;
	height:60vmin;
	min-height: 420px;
	width: 100%;
	max-width: @max-width;
	margin: 0 auto;
	background: @gray-light url('../img/hero.jpg') no-repeat center center;
	background-size: cover;
	z-index: -1;
}


.nav{
	position: relative;
	font-size: 1rem;
	.clearfix;
	li{
		float: left;
		padding: 0 @grid-unit;
	}
	a{
		text-decoration: none;
	}
}

.header__contact{
	float: right;
	top: 20px;
	svg{
		path{
			fill: @primary;
		}
	}
}

@media screen and (max-width: @mobile-bp){
	.header__contact{
		svg{
			path{
				fill: #fff;
			}
		}
	}
}


.footer__contact{
	a{
		color: @primary;
	}
	li{
		svg{
			path{
				fill: @primary;
			}
		}
	}
}



.main-content{
	background: #fff;
	position: relative; /* to apply z-index */
	z-index: 1;
}


.container{
	width:100%;
	padding: 0 @grid-unit*8;
	margin: 0 auto; /*centra horizontalmente */
	.containing-block;
	z-index:1; /* afecta a las sobras de los thumbnails */
	.transition(all 0.2s ease);
}


@media screen and (max-width: @mobile-bp){
	.container{
		padding: 0 @grid-unit*2;
	}
}



.logo{
	position:relative;
	top:20px;
	font-family: @logo-font;
	color:#fff;
	text-decoration:none;
}




/* HOME */

.elevator-pitch{
	position: fixed;
	width:480px;
	color:#fff;
	top:20vmin;
	font-size:1.15rem;
	font-weight:300;
	z-index: 0;
  line-height: 1.5;
	span{
		font-family: @display-font;
		// letter-spacing: 0.05em;
		font-size:1.5em;
		display: block;
		margin-bottom:0.3em;
		// font-weight: @weight-bold;
	}
	a{
		color: #fff;
		text-decoration: underline;
	}
}



@media screen and (max-width: @mobile-bp){
	.elevator-pitch{
		position: relative;
		top:40px;
		width:100%;
	}
}




.footer{
	clear:both;
	z-index: 1;
	position: relative;
	background: #fff;
	padding: @grid-unit*4 0;
}


.tag-selector{
	padding: @grid-unit*4 0;
	li{
		cursor: pointer;
		border-bottom: 2px solid transparent;
		margin: @grid-unit 1%;
		&:hover{
			color: @primary;
		}
	}
	.selected{
		color: @primary;
		font-weight: @weight-bold;
		border-bottom: 2px solid @primary;
	}
}


.project-list__item{
		min-height: 600px;
		overflow: hidden;
		.clearfix;
		.containing-block;
}

.project-list__item--dark-bg{
	color: #fff;
	.project-list__item__info__tags li{
		background: #fff;
		color: @black;
	}
	.project-list__item__info__read-more{
		&:hover{
			border-color: #fff;
		}
	}
}

.project-list__item--bb8{
	.gradient-diagonal(#d3d3d7, #f3f3f1);
}


.project-list__item--bbl{
	// .gradient-diagonal(#1a3d59,#206293);
	background-color: #206195;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23477294' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.project-list__item--nes{
	background-color: #000;
}

.project-list__item--ux-talk{
	background-image: url(../img/projects/ux-talk.png);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--validation-talk{
	background-image: url(../img/projects/validation-talk.png);
	background-size: cover;
	background-position: bottom left;
}

.project-list__item--product-process{
	background-image: url(../img/projects/product-process-talk.png);
	background-size: cover;
	background-position: bottom right;
}


.project-list__item--doctor24{
	background-image: url(../img/projects/doctor24.jpg);
	background-size: cover;
	background-position: center center;
}


@media screen and (min-width: @tablet-bp){
	.project-list__item--ux-talk{
		background-position: bottom center;
	}

	.project-list__item--validation-talk{
		background-position: bottom center;
	}
	.project-list__item--product-process{
		background-position: bottom center;
	}

}

.nes-grid{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(../img/projects/nes-bg.jpg);
	background-size: cover;
	background-position: top center;
	z-index: 0;
}

.project-list__item__bg-img{
	position: absolute;
	bottom:0;
	height: 300px;
	background-repeat: no-repeat;
	width: 80%;
	.transition(all 0.2s ease);
	z-index: 1;
}

.project-list__item__bg-img--left{
	left: 10%;
}

.project-list__item__bg-img--right{
	right: 10%;
}

.project-list__item__bg-img--screenshot{
	border-radius: @grid-unit @grid-unit 0 0;
	.box-shadow (0 0 20px rgba(0, 0, 0, 0.3));
}

.project-list__item__bg-img--bb8{
	background-image: url(../img/projects/bb8-render.png);
	background-size: cover;
	background-position: top center;
}

.project-list__item__bg-img--bbl{
	background-image: url(../img/projects/beachboyslegacy.png);
	background-size: cover;
}

.project-list__item__bg-img--nes{
	background-image: url(../img/projects/nes-mini.png);
	background-size: contain;
	background-position: center center;
	margin-bottom: 32px;
}



@media screen and (min-width: @tablet-bp){
	.project-list__item__bg-img{
		top: 0;
		height: 100%;
		width: 50%;
	}
	.project-list__item__bg-img--left{
		left: 0;
	}
	.project-list__item__bg-img--right{
		right: 0;
	}
	.project-list__item__bg-img--screenshot{
		top: 10%;
	}
	.project-list__item__bg-img--screenshot.project-list__item__bg-img--right{
		border-radius: @grid-unit 0 0 0;
	}
	.project-list__item__bg-img--screenshot.project-list__item__bg-img--left{
		border-radius: 0 @grid-unit 0 0;
	}
	.project-list__item__bg-img--bb8{
		left: 5%;
		top: 5%;
		background-position: top;
	}
	.project-list__item__bg-img--nes{
		left: 5%;
	}
}


.project-list__item__info{
	padding: 10% 10% 320px;
	position: relative;
	z-index: 1;
}


@media screen and (min-width: @tablet-bp){
	.project-list__item__info{
		padding: 10% 8%;
	}
}

.project-list__item__info__title{
	font-size: 2rem;
	font-family: @display-font;
	// font-weight: @weight-bold;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.project-list__item__info__tags{
	li{
		display: inline-block;
		font-size: .8rem;
		background: @black;
		color: #fff;
		padding: @grid-unit/2 @grid-unit;
		border-radius: @grid-unit*2;
		line-height: 1rem;
	}
}

.project-list__item__info__read-more{
	text-decoration: none;
	font-weight: @weight-bold;
	border-bottom: 2px solid transparent;
	padding: @grid-unit 0;
	&:hover{
		border-color: @black;
	}
}




.flickering{
  animation-name: flicker;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes flicker {
	from {
		opacity: 1;
	}
	2% {
		opacity: 0.5;
	}
	3% {
		opacity: 0.45;
	}
	4% {
		opacity: 0.55;
	}
	5% {
		opacity: 0.45;
	}
	6% {
		opacity: 0.5;
	}
	7% {
		opacity: 0.65;
	}
	8% {
		opacity: 0.55;
	}
	9% {
		opacity: 0.70;
	}
	10% {
		opacity: 0.55;
	}
	11% {
		opacity: 0.5;
	}
	12% {
		opacity: 0.5;
	}
	13% {
		opacity: 0.5;
	}
	14% {
		opacity: 0.69;
	}
	15% {
		opacity: 0.5;
	}
	16% {
		opacity: 0.45;
	}
	20% {
		opacity: 0.5;
	}
	21% {
		opacity: 0.6;
	}
	22% {
		opacity: 0.5;
	}
	23% {
		opacity: 0.5;
	}
	24% {
		opacity: 0.5;
	}
	25% {
		opacity: 0.75;
	}
	30% {
		opacity: 0.5;
	}
	34% {
		opacity: 0.5;
	}
	35% {
		opacity: .6; /*peak*/
	}
	36% {
		opacity: 0.5;
	}
	46% {
		opacity: 0.5;
	}
	47% {
		opacity: .6; /*peak*/
	}
	48% {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
