
.body-wrapper{
	width: 100%;
	max-width: @max-width;
	display: block;
	margin: 0 auto;
	.containing-block;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 @grid-unit*2 @grid-unit*2;
	overflow: hidden;
}


.body-wrapper-bg{
	position: fixed;
	height:60vmin;
	min-height: 420px;
	width: 100%;
	margin: 0 auto;
	background: #AAD6F3 url('../img/hero-bg.jpg') repeat center right;
	background-size: contain;
	z-index: -1;
}

@media screen and (max-width: @max-width){
	.body-wrapper{
		border-radius: 0;
	}
}

.header{
	height:60vmin;
	min-height: 420px;
	position: relative; /* neccesary to apply z-index -1 */
	z-index: 0;
}


@media screen and (max-width: @mobile-bp){
	.header{
		height:auto;
		padding-bottom:60px;
		background: rgba(0,0,0,.5);
	}
}


.header-bg{
	position: fixed;
	height:60vmin;
	min-height: 420px;
	width: 100%;
	max-width: @max-width;
	margin: 0 auto;
	background: #AAD6F3 url('../img/hero.jpg') no-repeat center right;
	background-size: cover;
	z-index: -1;
}



.nav{
	position: relative;
	font-size: 1rem;
	.clearfix;
	li{
		float: left;
		padding: 0 @grid-unit;
	}
	a{
		text-decoration: none;
		color: @primary;
	}
}

.header__contact{
	float: right;
	top: 20px;
	svg{
		path{
			fill: @primary;
		}
	}
}

@media screen and (max-width: @mobile-bp){
	.nav{
		li{
			padding: 0 8px;
		}
	}
	.header__contact{
		svg{
			path{
				fill: #fff;
			}
		}
	}
}


.footer__contact{
	a{
		color: @primary;
	}
	li{
		svg{
			path{
				fill: @primary;
			}
		}
	}
}

@media screen and (max-width: @mobile-bp){
	.getintouch-label{
		width: 100%;
		margin-bottom: @grid-unit;
	}
}

.legal-links{
	width: 100%;
	text-align: center;
	margin: @grid-unit*4 0;
	font-size: .8rem;
	li{
		display: inline-block;
		a{
			text-decoration: none;
			color: @gray-dark;
			padding: @grid-unit;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}


.main-content{
	background: #fff;
	position: relative; /* to apply z-index */
	z-index: 1;
}


.container{
	width:100%;
	padding: 0 8%;
	margin: 0 auto; /*centra horizontalmente */
	.containing-block;
	z-index:1; /* afecta a las sobras de los thumbnails */
	.transition(all 0.2s ease);
	.clearfix;
}


@media screen and (max-width: @mobile-bp){
	.container{
		padding: 0 4%;
	}
}



.logo{
	position:relative;
	top:20px;
	font-family: @logo-font;
	color: @black;
	text-decoration:none;
	font-weight: 600;
}




/* HOME */

.elevator-pitch{
	position: fixed;
	width:480px;
	color:@black;
	top: 18vmin;
	font-size:1.15rem;
	font-weight:400;
	z-index: 0;
  line-height: 1.5;
	span{
		font-family: @display-font;
		font-size:1.5em;
		display: block;
		margin-bottom:0.3em;
	}
	a{
		color: @black;
		text-decoration: underline;
	}
}



@media screen and (max-width: @mobile-bp){
	.logo{
		color: #fff;
	}
	.elevator-pitch{
		position: relative;
		width:100%;
		color: #fff;
		a{
			color: #fff;
		}
	}
}




.footer{
	clear:both;
	z-index: 1;
	position: relative;
	background: #fff;
	padding: @grid-unit*4 0;
}


.tag-selector{
	padding: @grid-unit*4 0;
	li{
		cursor: pointer;
		border-bottom: 2px solid transparent;
		margin: @grid-unit 0;
		&:hover{
			color: @primary;
		}
	}
	.selected{
		color: @primary;
		font-weight: @weight-bold;
		border-bottom: 2px solid @primary;
	}
}


.project-list__item{
		min-height: 600px;
		overflow: hidden;
		.clearfix;
		.containing-block;
		background-color: #fff;;
}

.project-list__item--dark-bg{
	color: #fff;
	.project-list__item__info__tags li{
		color: rgba(255,255,255,.6);
	}
	.project-list__item__info__read-more{
		&:hover{
			border-color: #fff;
		}
	}
}



.project-list__item--bbl{
	// .gradient-diagonal(#1a3d59,#206293);
	background-color: #206195;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23477294' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.project-list__item--guia-ny{
	// background-color: #2d1d1c;
}

.project-list__item--nes{
	background-color: #000;
}

.project-list__item--ux-talk{
	background-image: url(../img/projects/ux-talk.jpg);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--post-hiring{
	background-image: url(../img/projects/post-hiring.png);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--post-communication{
	background-image: url(../img/projects/post-communication.jpg);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--night-sky{
	background-image: url(../img/projects/night-sky.jpg);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--night-sky{
	background-image: url(../img/projects/night-sky.jpg);
	background-size: cover;
	background-position: bottom center;
}

.project-list__item--cubigram{
	background-color: #ff8889;
	h2{
		color: #fff;
	}
	p{
		color: #441e3d;
	}
	li{
		color: #7c3c5a !important;
	}
	a{
		color: #441e3d;
		&:hover{
			border-color: #441e3d !important;
		}
	}
}

.project-list__item__bg-img--cubigram{
	background-image: url(../img/projects/cubigram.png);
	background-size: 60%;
	background-position: top center;
}


.project-list__item--saferlayer{
	background: #E57B83;
	background-image: radial-gradient(#E88C93 0.8px, #E57B83 0.8px);
	background-size: 10px 10px;

	h2{
		color: #fff;
	}
	p{
		color: #fff !important;
	}
	li{
		color: #F7D4D6 !important;
	}
	a{
		color: #fff;
		&:hover{
			border-color: #fff !important;
		}
	}
}

.project-list__item__bg-img--saferlayer{
	background-image: url(../img/projects/saferlayer.png);
	background-size: 100%;
	background-position: center center;
}

@media screen and (min-width: @mobile-bp){
	.project-list__item__bg-img--saferlayer{
		background-size: 64%;
	}
}


.project-list__item--bb8{
			.gradient-diagonal(#EDEFF4,#FFE2A9);
			li{
				color: #DBB05B !important;
			}
}

.project-list__item--validation-talk{
	background-image: url(../img/projects/validation-talk.jpg);
	background-size: cover;
	background-position: bottom left;
}

.project-list__item--product-process{
	background-image: url(../img/projects/product-process-talk.jpg);
	background-size: cover;
	background-position: bottom right;
}


.project-list__item--gray-gradient-bg{
	.gradient-diagonal(#EDEFF4,#FAFAFC);
}

@media screen and (min-width: @tablet-bp){
	.project-list__item--ux-talk{
		background-position: bottom center;
	}

	.project-list__item--validation-talk{
		background-position: bottom center;
	}
	.project-list__item--product-process{
		background-position: bottom center;
	}

}

.nes-grid{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(../img/projects/nes-bg.jpg);
	background-size: cover;
	background-position: top center;
	z-index: 0;
}

.project-list__item__inline-img{
	position: absolute;
	height: 260px;
	height: 260px;
	bottom: 40px;
	.transition(all 0.2s ease);
}

.project-list__item__inline-img--left{
	left: 50%;
	margin-left: -130px;
}

.project-list__item__inline-img--right{
	right: 50%;
	margin-right: -130px;
}

.project-list__item__bg-img{
	position: absolute;
	bottom:0;
	height: 300px;
	background-repeat: no-repeat;
	width: 80%;
	.transition(all 0.2s ease);
	z-index: 1;
}

.project-list__item__bg-img--left{
	left: 10%;
}

.project-list__item__bg-img--right{
	right: 10%;
}

.project-list__item__bg-img--screenshot{
	border-radius: @grid-unit @grid-unit 0 0;
	.box-shadow (0 0 20px rgba(0, 0, 0, 0.3));
}

.project-list__item__bg-img--bb8{
	background-image: url(../img/projects/bb8-render.png);
	background-size: cover;
	background-position: top center;
}

.project-list__item__bg-img--bbl{
	background-image: url(../img/projects/beachboyslegacy.png);
	background-size: cover;
}

.project-list__item__bg-img--guia-ny{
	background-image: url(../img/projects/guia-fotografica-nueva-york-chocotuits.png);
	background-size: contain;
	background-size: 60%;
	background-position: top center;
	border-radius: 0 !important;
}

.project-list__item__bg-img--nes{
	background-image: url(../img/projects/nes-mini.png);
	background-size: contain;
	background-position: center center;
	margin-bottom: 32px;
}

.project-list__item__bg-img--twitter-threads{
	background-image: url(../img/projects/hilo-twitter.png);
	background-size: cover;
	background-position: top center;
}




@media screen and (min-width: @tablet-bp){
	.project-list__item__inline-img{
		height: 300px;
		width: 300px;
		top: 180px;
		margin: 0;
	}
	.project-list__item__inline-img--left{
		left: 16%;
	}
	.project-list__item__inline-img--right{
		right: 16%;
	}
	.project-list__item__bg-img{
		top: 0;
		height: 100%;
		width: 50%;
	}
	.project-list__item__bg-img--left{
		left: 0;
	}
	.project-list__item__bg-img--right{
		right: 0;
	}
	.project-list__item__bg-img--screenshot{
		top: 10%;
	}
	.project-list__item__bg-img--screenshot.project-list__item__bg-img--right{
		border-radius: @grid-unit 0 0 0;
	}
	.project-list__item__bg-img--screenshot.project-list__item__bg-img--left{
		border-radius: 0 @grid-unit 0 0;
	}
	.project-list__item__bg-img--bb8{
		left: 5%;
		top: 5%;
		background-position: top;
	}
	.project-list__item__bg-img--nes{
		left: 5%;
	}
	.project-list__item__bg-img--twitter-threads{
		background-size: contain;
		background-position: center center;
		right: 5%;
	}
	.project-list__item__bg-img--cubigram{
		background-position: center center;
	}
	.project-list__item__bg-img--guia-ny{
		background-position: center center;
	}

}

@media screen and (max-width: @mobile-bp){
	.project-list__item__bg-img--twitter-threads{
		width: 100%;
		right: 0;
		background-size: cover;
	}
}

.project-list__item__info{
	padding: 10% 4% 320px;
	position: relative;
	z-index: 1;
}


@media screen and (min-width: @tablet-bp){
	.project-list__item__info{
		padding: 10% 8%;
	}
}

.project-list__item__info__title{
	font-size: 2rem;
	font-family: @display-font;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.project-list__item__info__tags{
	li{
		display: inline-block;
		line-height: 1rem;
		color: @gray-dark;
	}
}

.project-list__item__info__read-more{
	text-decoration: none;
	font-weight: @weight-bold;
	border-bottom: 2px solid transparent;
	padding: @grid-unit 0;
	&:hover{
		border-color: @black;
	}
}

.back-to-top{
	position: fixed;
	bottom: 0px;
	right: 0;
	z-index: 1;
	display: none;
	width: 40px;
	height:40px;
	text-align: center;
	line-height: 40px;
}


.iubenda-tp-btn{
	display: none !important;
}

.iubenda-cs-preferences-link{
	display: none !important;
}

.iub__us-widget{
	display: none !important;
}
